key dhcp_update {
    algorithm hmac-sha256;
    secret "{{ bind9_TSIG_key }}";
};

zone {{ bind9_domain_name }} IN {
    type master;
    file "{{ bind9_zone_file_dir }}/{{ bind9_zone_forward_file }}";
    allow-update { key dhcp_update; };
};

zone 0.10.in-addr.arpa IN {
    type master;
    file "{{ bind9_zone_file_dir }}/{{ bind9_zone_reverse_file }}";
    allow-update { key dhcp_update; };
};
