---
- name: Open required worker ports in firewalld
  ansible.posix.firewalld:
    port: "{{ item }}"
    permanent: true
    state: enabled
    immediate: true
  loop:
    - 10250/tcp
    - 30000-32767/tcp
  when: ansible_facts['os_family'] == 'RedHat'

- name: Wait for port 6443 on master to be reachable
  ansible.builtin.wait_for:
    host: "{{ hostvars['k1-m1.lab.skog.network']['ansible_default_ipv4']['address'] }}"
    port: 6443
    timeout: 5

- name: Join cluster
  ansible.builtin.shell: "{{ hostvars['k1-m1.lab.skog.network']['kubernetes_masters_join_command'] }} >> node_joined.log"
  args:
    chdir: /home/skogen
    creates: node_joined.log
