# SPDX-License-Identifier: MIT-0
---
- name: Restart PostgreSQL
  ansible.builtin.systemd:
    name: postgresql
    state: restarted

- name: Reload firewalld
  become: true
  ansible.builtin.command: firewall-cmd --reload
