---
- name: Setup kubernetes cluster
  gather_facts: true
  hosts: kubernetes
  become: true

  roles:
    - kubernetes_prereqs

- name: Setup masternode(s)
  gather_facts: false
  hosts: kubernetes_masters
  become: true

  roles:
    - kubernetes_masters

- name: Setup workers
  gather_facts: true
  hosts: kubernetes_workers
  become: true

  roles:
    - kubernetes_workers
