# SPDX-License-Identifier: MIT-0
---
# tasks file for kubernetes_masters
- name: Open required master ports in firewalld
  ansible.posix.firewalld:
    port: "{{ item }}"
    permanent: true
    state: enabled
    immediate: true
  loop:
    - 6443/tcp
    - 2379-2380/tcp
    - 10250/tcp
    - 10259/tcp
    - 10257/tcp
  when: ansible_facts['os_family'] == 'RedHat'

- name: Initialize Kubernetes cluster
  ansible.builtin.command: kubeadm init --pod-network-cidr=10.244.0.0/16
  register: kubernetes_masters_kubeadm_output
  args:
    creates: /etc/kubernetes/admin.conf

- name: Save kubeconfig for root user
  ansible.builtin.copy:
    content: "{{ kubernetes_masters_kubeadm_output.stdout_lines | join('\n') }}"
    dest: /root/kubeadm_init_output.txt
    mode: "0600"

- name: Ensure .kube directory exists
  ansible.builtin.file:
    path: /home/{{ ansible_user }}/.kube
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0750"

- name: Set up kubeconfig for kubectl
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/{{ ansible_user }}/.kube/config
    remote_src: true
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0600"
# notify:
#   - Change kubeconfig permissions

- name: Download Helm binary
  ansible.builtin.get_url:
    url: https://get.helm.sh/helm-v3.18.6-linux-amd64.tar.gz
    dest: /tmp/helm-v3.18.6-linux-amd64.tar.gz
    mode: '0640'
  become: true

- name: Extract Helm binary
  ansible.builtin.unarchive:
    src: /tmp/helm-v3.18.6-linux-amd64.tar.gz
    dest: /tmp
    remote_src: true
  become: true

- name: Move Helm into /usr/local/bin
  ansible.builtin.copy:
    src: /tmp/linux-amd64/helm
    dest: /usr/local/bin/helm
    mode: '0750'
    remote_src: true
  become: true

- name: Add Cilium Helm repo
  ansible.builtin.command: /usr/local/bin/helm repo add cilium https://helm.cilium.io/
  args:
    creates: ~/.cache/helm/repository/cilium-index.yaml

- name: Update Helm repos
  ansible.builtin.command: /usr/local/bin/helm repo update
  changed_when: true

- name: Generate Cilium manifest with Helm
  ansible.builtin.command: >
    /usr/local/bin/helm template cilium cilium/cilium
    --namespace kube-system
    --version 1.18.1
    --include-crds
    --set kubeProxyReplacement=true
    --set routingMode=tunnel
    --set enableEncapsulation=true
    --set ipam.mode=cluster-pool
    --set ipam.operator.clusterPoolIPv4PodCIDRList="{10.244.0.0/16}"
    --set enableNodePort=true
    --set nodePort.enabled=true
    --set hostPort.enabled=true
    --set externalIPs.enabled=true
  register: kubernetes_masters_cilium_manifest
  changed_when: true

- name: Write Cilium manifest to file
  ansible.builtin.copy:
    dest: /tmp/cilium-1.18.1.yml
    content: "{{ kubernetes_masters_cilium_manifest.stdout }}"
    mode: '0600'
  become: true

- name: Apply Cilium manifest to cluster using kubectl
  ansible.builtin.command: kubectl apply -f /tmp/cilium-1.18.1.yml --kubeconfig /etc/kubernetes/admin.conf
  become: true
  changed_when: true


- name: Get join command
  ansible.builtin.command: kubeadm token create --print-join-command
  register: kubernetes_masters_join_command_raw
  changed_when: true

- name: Set join command
  ansible.builtin.set_fact:
    kubernetes_masters_join_command: "{{ kubernetes_masters_join_command_raw.stdout_lines[0] }}"
