# SPDX-License-Identifier: MIT-0
---
- name: Load vaulted variables
  ansible.builtin.include_vars:
    file: vars/vault.yml

- name: Ensure SELinux is enabled and enforcing
  ansible.posix.selinux:
    policy: targeted
    state: enforcing

- name: Open PostgreSQL port 5432/tcp in firewalld
  become: true
  ansible.posix.firewalld:
    port: 5432/tcp
    permanent: true
    state: enabled
    immediate: false
  notify: Reload firewalld

- name: Install packages server
  ansible.builtin.dnf:
    name:
      - postgresql-server
      - python3-psycopg2
    state: present

- name: Initialize PostgreSQL database
  ansible.builtin.command: postgresql-setup --initdb
  args:
    creates: /var/lib/pgsql/data/PG_VERSION

- name: Enable and start PostgreSQL
  ansible.builtin.systemd:
    name: postgresql
    enabled: true
    state: started

- name: Allow connections from {{ allowed_network }}
  ansible.builtin.template:
    src: pg_hba.conf.j2
    dest: /var/lib/pgsql/data/pg_hba.conf
    owner: postgres
    group: postgres
    mode: '0600'
  notify: Restart PostgreSQL

- name: Configure listen_addresses to '*'
  ansible.builtin.lineinfile:
    path: /var/lib/pgsql/data/postgresql.conf
    regexp: '^#?listen_addresses\s*='
    line: "listen_addresses = '*'"
    backup: true
  notify: Restart PostgreSQL

- name: Create admin PostgreSQL user
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ postgres_admin_user }}"
    password: "{{ postgres_admin_password }}"
    encrypted: true
    role_attr_flags: "CREATEDB,CREATEROLE,LOGIN"
