- name: Load vaulted variables
  ansible.builtin.include_vars:
    file: vars/vault.yml

- name: Install ISC DHCP server
  ansible.builtin.dnf:
    name: dhcp-server
    state: present
  become: true

- name: Ensure /var/lib/dhcpd has correct ownership and permissions
  ansible.builtin.file:
    path: /var/lib/dhcpd
    owner: dhcpd
    group: dhcpd
    mode: '0750'
    state: directory

- name: Ensure /var/lib/dhcpd/dhcpd.leases exists with correct ownership and permissions
  ansible.builtin.file:
    path: /var/lib/dhcpd/dhcpd.leases
    state: touch
    owner: dhcpd
    group: dhcpd
    mode: '0640'

- name: Configure dhcpd.conf
  ansible.builtin.template:
    src: dhcpd.conf.j2
    dest: /etc/dhcp/dhcpd.conf
    owner: root
    group: root
    mode: '0640'
  become: true
  notify: restart dhcpd

- name: Enable and start DHCP server
  ansible.builtin.systemd:
    name: dhcpd
    enabled: true
    state: started
