---
- name: Restart named
  ansible.builtin.service:
    name: named
    state: restarted

- name: Reload firewalld
  ansible.builtin.command: firewall-cmd --reload
  become: true
  changed_when: true

- name: Reload zones
  ansible.builtin.command: rndc reload
  become: true
  changed_when: true
