---
name: ansible-lint
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@a2bc8b8b13a80802215856c56823d85007d3baf5
        with:
          setup_python: true
          python_version: "3.14"
          working_directory: "ansible"
          requirements_file: "ansible/requirements.yml"
