---
name: ansible-lint
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run ansible-lint
        uses: ansible/ansible-lint@7f6abc5ef97d0fb043a0f3d416dfbc74399fbda0
        with:
          setup_python: true
          python_version: "3.14"
          working_directory: "ansible"
          requirements_file: "requirements.yml"
