---
name: ansible-lint
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Ansible Lint # Naming the build is important to use it as a status check
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.12.2
        # optional (see below):
        with:
          args: ""
          #gh_action_ref: "<version - e.g. `v25.5.0`>" # Not recommended for non-composite action use
          setup_python: "true"
          python_version: "3.14"
          working_directory: "ansible"
          requirements_file: "ansible/uv.lock"