---
name: ansible-lint
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run ansible-lint
        uses: ansible/ansible-lint@a9f8a4e21be85461fdc3d0f492a89e365bf4fd72
        with:
          setup_python: true
          python_version: "3.14"
          working_directory: "ansible"
          requirements_file: "requirements.yml"
